
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: "century-gothic", sans-serif;
  font-style: normal;
  padding: 20px;
  background: white;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header/Blog Title */
.header {
  font-weight: 700;
  padding: 30px;
  text-align: center;
  background: white;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-weight: bold;
}

.example {
  width:500px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.examplePrettier {
  width:800px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subheader {
  text-align: right;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   border-radius: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 20px;
  border-radius: 10px;
}

p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.6;
}

.highlight {
  background-color: #61DBFB50;

}

.textbox {
  background-color: #61DBFB50;
  width: 300px;
  padding: 30px;
  margin-left: 150px;
  border-radius: 20px;
  font-size: larger;
}

.name {
  font-size: larger;
}

.centerP {
  text-align: center;
}

.smallerText {
  width: 75%;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}